.About-text {
	margin: 0;
	padding: 0 5vh;
	text-align: left;
	/* font-size: calc(9pt + 1vmin); */

	letter-spacing: 1px;
	line-height: 3vmin;
}

.About-title {
	/* font-size: calc(7pt + 2vmin); */
	margin: 0;
}

.About-p {
	height: 70vh;
	overflow-y: scroll !important;
	

}

@media screen and (max-width: 1300px) {

	.About-text {
		/*! width: 90% do not use */
		padding: 3vh 6vh;
		max-width: fit-content;
	}
}

@media screen and (max-width: 800px) {

	.About-text {
		line-height: 2vh;
		padding: 3vh;
		max-width: fit-content;
		overflow-y: scroll;
	}

	.About-title {
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		
	}

	.About-p {
		height: 50vh;
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		margin: 2vmin 0 0 0;
	}
}