.About-text {
	margin: 0;
	padding: 0 5vh;
	text-align: left;
	/* font-size: calc(9pt + 1vmin); */

	letter-spacing: 1px;
	line-height: 3vmin;
}

.About-title {
	/* font-size: calc(7pt + 2vmin); */
	margin: 3vmin 6vmin 0 0;
	max-height: 12%;
}

.About-p {
	height: 70vh;
	
	overflow-y: scroll !important;
	

}

@media screen and (max-width: 1336px) {

	.About-text {
		max-width: 90%;
	}
}

@media screen and (max-width: 800px) {

	.About-text {
		line-height: 2vh;

		overflow-y: scroll;
	}

	.About-title {
		margin: 6vmin 0 0 0;
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		
	}

	.About-p {
		height: 50vh;
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		margin: 6vmin 0 0 0;
	}
}