.About-text {
	margin: 2vmin 0;
	padding: 0 3vh;
	text-align: left;

	letter-spacing: 1px;
		height: fit-content;
}

.About-title {
	height: fit-content;
	margin: 0;
}

.About-p {
	height: 35vh;
	overflow-y: scroll !important;
	line-height: 2.5vmin;

}

@media screen and (max-width: 900px) {

	.About-text {
		line-height: 2vh;
		padding: 0 3vh;
		max-width: fit-content;
		overflow-y: scroll;
		height: min-content;
	}

	.About-title {
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		
	}

	.About-p {
		height: 40vh;
		font-size: calc(8pt + 1vmin);
		line-height: 5vmin;
		letter-spacing: normal;
		margin: 2vmin 0 0 0;
	}
}