/* WHOLE CARD */

.Page-card {
	height: fit-content;
	max-height: 23vh;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	overflow: hidden;

}

.Profile-image {
	height: auto;
	max-height: 21vh;
	width: auto;
	border-radius: 50%;
	border: 3px solid #32292F;

}

/* CARD TEXT  */

.Card-text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	padding:  2%;
	height: 100vh;
	max-height: 21vh;

	overflow: visible;
}

.Card-title {
	text-align: left;
	margin: 0;
	font-size: calc(10pt + 2vmin);
		height: fit-content;
}

.Card-subtitle {
	font-family: 'Tajawal', sans-serif;
	font-weight: 300;
	font-style: italic;
	text-align: left;

	height: fit-content;
	padding: 3% 0;
	margin: 0;
	font-size: calc(8pt + 1vmin);
}

.Profile-contact ul {
	height: fit-content;
}

.Profile-contact li {
	height: fit-content;
	padding: 1%;
	max-height: 25%;
	font-size: calc(8pt + 1vmin);
	list-style-type: none;
	text-align: left;
}

@media screen and (max-width: 800px) {

	.Card-text {
		font-size: calc(6pt + 1vmin);
		padding: 0 2.5% ;
		height: fit-content;
				margin-top: auto;
					margin-bottom: auto;
	}

	.Card-title {
		font-size: calc(8pt + 1vmin);
	}
	
	.Card-subtitle {
		font-size: calc(7pt + 1vmin);
		padding: 0;
	}

	.Profile-contact ul {
		padding: 0;
		height: min-content;

	}

	.Profile-contact li {
		font-size: calc(6pt + 1vmin);
		padding: 0;
		line-height: 4vmin;
	}

	.Profile-image {
		border: 2px solid #32292F;
		margin-top: auto;
		margin-bottom: auto;

	}
}

@media screen and (max-width: 800px) {
	.Page-card {
		margin: 0 2vh
	}
}