/* moved inline */

/* .menu-open ul {
	display: flex;
	flex-wrap: wrap;
	float: right;
	margin: 20 0px;
	padding: 0 25px;

}

.menu-item {
	list-style-type: none;
	padding-right: 10px;
}

.menu-closed ul {
	display: none;

} */