.Footer-all {
	width: 100%;

	display: flex;
	/*? align-items: center; */
	/* justify-content: center; */

	transition: all .7s ease-in;
	background-color: #BBC8D9;
	opacity: 70%;
}

.Footer-text {
	display: flex;
	/*? align-items: center; */
	/*? justify-content: center; */
}