.Footer-all {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	transition: all .7s ease-in;
	background-color: #BBC8D9;
	opacity: 70%;

}

.Footer-text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.Footer-text li {
	height: min-content;
	padding: 1vmin;
}

.Footer-text-items {
	font-size: smaller;
	opacity: 60%;
}

@media screen and (max-width: 800px) {

	#Credit-3 {
		display: none;
	}

}