.App-footer {
	max-height: 3.5vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	transition: all .7s ease-in;
	background-color: #32292F;

	position: sticky;
	bottom: 0;
	left: 0;

	color: #E7E1E0;
}

.Footer-text {
	max-height: 2.5vh;
	padding: 0;
	margin: 0;
	bottom: 0;

	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;


	text-align: center;
	font-size: 8pt;


}