.App-hero-img {
	display: flex;
	flex-direction: row;		justify-content: flex-end;

	padding: 0;
}

.Hero-img-img {
	width: auto;
	height: 100%;
	padding: 0;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	z-index: 0;

	opacity: 80%;

	transition: ease all 1s;
}

@media screen and (max-width: 1300px) {
	
	.Hero-img-img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		opacity: 40%;
		transition: ease all 1s;
		z-index: -10;
	}
}