/* HEADER */

.Header-all {
	max-height: 7vh;
	width: 100%;
	display: flex;

	align-items: center;
	transition: all .7s ease-in;
	background-color: #BBC8D9;

	z-index: 10;

	
}
.Header-text {
	font-family: 'Raleway', sans-serif;
	color: #32292F;
	max-height: 3vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

#Header-title {
	margin: 0;
	font-size: calc(13px + 2vmin);	
	padding: 0 8vmin
}