/* MAIN */

.Page-content-all {
	flex-basis: auto;
	height:fit-content;
	width: 55%;
	left: 0;
	overflow: hidden;
	margin: 1vh;
	margin-top: 7vh;
	padding: 1.5%;

	z-index: 4;
}

@media screen and (max-width: 1336px) {

	.Page-content-all {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {

	.Page-content-all {
		margin-top: 3vh;
	}
}