/* MAIN */

.Page-content-all {
	height: fit-content;
	width: 100%;
	overflow: hidden;
	margin: 1vh;
	margin-top: 7vh;
	padding: 1.5%;

}

@media screen and (max-width: 1336px) {

	.Page-content-all {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {

	.Page-content-all {
		margin-top: 3vh;
	}
}