.Pricing-text {
	margin: 0;
	padding: 0 5vh;
	text-align: left;
	/* font-size: calc(9pt + 1vmin); */

	letter-spacing: 1px;
	line-height: 27px;
}

.Page-content-title h3 {
	/* font-size: calc(7pt + 2vmin); */
	padding: 0 5%;
	margin: 0;
	margin-top: 2%;
	margin-right: 6%;
	max-height: 12%;
}

.Page-content-p ul {
	padding: 0 5%;
	margin-right: 6%;

}

@media screen and (max-width: 1336px) {

	.Pricing-text {
		width: 95%;
		max-width: 80vh;
	}
}
