.Pricing-text {
	margin: 0;
	padding: 0 5vh;
	text-align: left;

	letter-spacing: 1px;
	line-height: 30px;
}

.Pricing-title {
	max-height: 12%;
}

.Pricing-text {
	padding: 0 10%;
	margin-right: 6%;

}

@media screen and (max-width: 1200px) {

	.Pricing-text {
		width: 80%;
		max-width: 80vh;
	}
}

@media screen and (max-width: 800px) {

	.Pricing-text {
		max-width: 90%;
		line-height: 2.5vh;
		letter-spacing: auto;
	}
	
	.Pricing-title {
		font-size: calc(8pt + 1vmin);


	}

	.Pricing-text {
		max-width: 90%;
		line-height: auto;
		font-size: calc(7pt + 1vmin);
	}

}