.Switch-wrapper {
	height: fit-content;
	margin: 0;
}

.Switch-Titles-container {
	height: fit-content;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}



.Switch-Titles-container button {
	border: none;
	color: #32292F;
	background-color: #BBC8D9;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	padding: .7em 1.5em;
	/* margin: .5em 0 0 0 */

}



.Switch-Titles-container button:hover {
	background-color: #96a3b5;
	color: #E7E1E0;
	-webkit-box-shadow: 3px 72px 47px 13px rgba(87, 83, 102, 0.52);
		-moz-box-shadow: 3px 72px 47px 13px rgba(87, 83, 102, 0.52);
		box-shadow: 3px 72px 47px 13px rgba(87, 83, 102, 0.52);
}

.Switch-Titles-container button:active {
	background-color: #32292F;
	color: #E7E1E0;
}
