.Tab-Titles-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;

	margin-top: 2vh;
}

.Tab-Titles {
	padding: 2vh 5vh;

	background: #96a3b5 ;
	color: #32292F;
	border-radius: 7px 7px 0 0;
}

.Tab-Titles:hover {
	background: #E7E1E0;
	color: #32292F;
	border-radius: 7px 7px 0 0;
	cursor: pointer;
}

Tab:hover {
	cursor: pointer;
}

.react-tabs__tab--selected {
	background: #32292F;
	color: #BBC8D9;
	border-radius: 7px 7px 0 0;
}