.Tab-Titles-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	margin-top: 2vh;
}

.Tab-Titles {
	padding: 2vh 5vh;
	margin: 0 4vh;

	background: #96a3b5 ;
	color: #32292F;
	border-radius: 7px 7px 0 0;
}

.Tab-Titles:hover {
	background: #E7E1E0;
	color: #32292F;
	border-radius: 7px 7px 0 0;
	cursor: pointer;
}

Tab:hover {
	cursor: pointer;
}


.react-tabs__tab--selected {
	background: #32292F;
	color: #BBC8D9;
	border-radius: 7px 7px 0 0;
	max-width: 90%;
}

/* .Tab-content {
	background: palevioletred;
} */

@media screen and (max-width: 1300px) {
	.react-tabs__tab--selected {
			max-width: 70%; /*todo make more compact*/
	}
	Tab:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 800px) {

	.Tab-Titles-container {
		margin-top: 2vh;
		}
	.Tab-Titles {
		padding: 1.6vh 4vh 1vh 4vh;
	}
	/* 
	Tab {
		font-size: calc(2pt +1vmin);
		? to test if it changes 
		font-size: 72pt; 
	} */
	Tab:hover {
		cursor: pointer;
		/*? not working */
	}
}