/* HEADER */

.App-header {
	min-height: 6vh;
	max-height: 7vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	/* flex-flow: row nowrap; */
	justify-content: space-between;
	align-items: center;
	transition: all .7s ease-in;
	background-color: rgb(25, 34, 40);
	/* align-content: stretch; */
	/* font-size: calc(6px + 2vmin); */
  	position: sticky; 
	top: 0;
}
/* for useSticky hook */
/* .sticky {
	position: fixed;
	top: 0;
} */

.Header-text {
	/* max-height: 6vh; */
	font-size: calc(10px + 2vmin);
	color: #E1E8EEff;
}

.Header-nav {
	/* align-self: flex-end; */
	/* max-height: 8vh; */
	/* padding: 5px; */
	display: flex;
	justify-content: space-between;
	font-size: calc(8px + 2vmin);
}