/* HEADER */

.App-header {
	min-height: 6vh;
	max-height: 7vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	/* flex-flow: row nowrap; */
	justify-content: space-between;
	align-items: center;
	transition: all .7s ease-in;
	background-color: #32292F;
	/* align-content: stretch; */
	/* font-size: calc(6px + 2vmin); */
  	position: sticky; 
	top: 0;
}

.Header-title {
	/* max-height: 6vh; */
	font-size: calc(10px + 2vmin);
	color: #E7E1E0;
}
