/* MAIN */

.Page-content {
	flex-grow: 3;
	position: center;
	background-color: #E1E8EEff;
	height: 85vh;
	width: 70%;
	overflow: auto;
	margin: 1vh;
}

.Page-content-title {
	color: #45576Dff;
	margin: 0;
	padding: 1vh;
	height: auto;
}

.Page-content-text {
	color: #28353Dff;
	margin: 0;
	padding: 1vh;
	text-align: left;
}
