/* MAIN */

.Page-content-all {
	flex-basis: auto;
	width: 50%;
	left: 0;
	overflow: hidden;
	margin: 1vh;
}

.Page-content-text {
	margin: 0;
	padding: 0 5vh;
	text-align: left;
	font-size: 1.3em;

	letter-spacing: 1px;
	line-height: 24px;
}
