/* MAIN */

.Page-content-all {
	flex-basis: auto;
	/* position: absolute; */
	/* height: 85vh; */
	width: 50%;
	left: 0;
	overflow: auto;
	margin: 1vh;
}

.Page-content-text {
	color: #28353Dff;
	margin: 0;
	padding: 3vh;
	padding-top: 2vh;
	text-align: left;
	font-size: 1.3em;
}
