
/* CSS HEX 
#E7E1E0 BG 1      - platinum
#BBC8D9 BG 2      - french \grey
#96a3b5 BG 2.5    - cadet \grey
#32292F DARK      - raisin \black
#575366 NEUTRAL   - davy's \grey
#51A3A3 MEDIUM    - verdigris
#E84855 ERROR     - crayola \red


*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400;1,500&family=Tajawal:wght@200;300;400;700;900&display=swap');

*, html, body {
  /*! min-height: 100%; breaks everything */
  height: 100%;
  color: #32292F;
  overflow: hidden;
  font-family: 'Tajawal', sans-serif;

  transition: ease all 1s;
}

main {
  height: 100%;
  min-height: 100%;
  overflow: scroll;;
}

.App {
  /*! overflow: hidden; do not use*/
  text-align: center;
  height: 100%;
  min-height: 100%;
  width: 100%;

  background: hsla(10, 9%, 87%, 1);
  
    background: linear-gradient(180deg, hsla(10, 9%, 87%, 1) 0%, hsla(225, 10%, 84%, 1) 52%, hsla(214, 28%, 79%, 1) 100%);
  
    background: -moz-linear-gradient(180deg, hsla(10, 9%, 87%, 1) 0%, hsla(225, 10%, 84%, 1) 52%, hsla(214, 28%, 79%, 1) 100%);
  
    background: -webkit-linear-gradient(180deg, hsla(10, 9%, 87%, 1) 0%, hsla(225, 10%, 84%, 1) 52%, hsla(214, 28%, 79%, 1) 100%);
  
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E2DDDC", endColorstr="#D3D5DB", GradientType=1);

    z-index: -100;
    
}

.Main-container {
  display: grid;
  grid-template-columns: [col1] 55% [col2] 45%;
  grid-template-rows: [row1] 7vh  [row2] auto [row3] 6vh;

  z-index: 1;
}

.Navbar-wrapper {
  grid-column-start: col1;
  grid-column-end: span 2;
  grid-row-start: row1;
  grid-row-end: row1;

  z-index: 100;
}

.Page-Content {
    grid-column-start: col1;
    grid-column-end: col1;
    grid-row-start: row2;
    grid-row-end: row2;


  /* height: 85%; */
  z-index: 1;
}
.Hero-Img {
  grid-column-start: col2;
  grid-column-end: col2;
  grid-row-start: row2;
  grid-row-end: row2;

  z-index: 0;
}

.Footer-wrapper {
    grid-column-start: col1;
    grid-column-end: span 2;
    grid-row-start: row3;
    grid-row-end: row3;
    
      z-index: 1;
}


/* Universal styling */
.App-link {
  color: #51A3A3;
}

.App-link:hover {
  color: #575366;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}