
/* CSS HEX 
#E7E1E0 BG 1
#D8E9E9 BG 2
#32292F DARK
#575366 NEUTRAL
#326771 MEDIUM 
#D17A22 HIGHLIGHT
#C1292E ERROR

color: #326771

*/

*, html, body {
  height: 100vh;
  color: #28353Dff;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  background: hsla(9, 13%, 89%, 1);
  
    background: linear-gradient(135deg, hsla(9, 13%, 89%, 1) 0%, hsla(180, 28%, 88%, 1) 100%);
  
    background: -moz-linear-gradient(135deg, hsla(9, 13%, 89%, 1) 0%, hsla(180, 28%, 88%, 1) 100%);
  
    background: -webkit-linear-gradient(135deg, hsla(9, 13%, 89%, 1) 0%, hsla(180, 28%, 88%, 1) 100%);
  
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E7E1E0", endColorstr="#D8E9E9", GradientType=1);
}

.Main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.App-link {
  color: #D17A22;
}

.App-link:hover {
  color: #32292F;
}
