body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLORS
  Platinum = #ebeaeb
  Wintergreen Dream = #679289
  Amazon = #34795f
  Charleston Green = #272d2d
  Black Chocolate? = #1e2019
  Dark Liver? = #63585e
  Old Rose? = #c17c74
  Medium Carmine? = #a44a3f 
*/